.navbar{
    display:flex;
    align-items:center;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
 
}

body{
    background-color: red;
}

nav{
    flex:1;
    text-align:right;

}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin:18px;
}

a{
    text-decoration: none;
    color:#555;
}

p{
    color:#555
}
.container{
    max-width:1300px;
    margin:auto;
    padding-left: 25px;
    padding-right:25px;
}

input{
    
    width:400px;
    height: 40px;
    border-color:red;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#b1{
    height:41px;
    width:41px;
    border-color:red;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#b2{
    max-width:100px;
    max-height:100px;
    margin-right: 50px;

  
}

.cat{
    display:flex;
    list-style:none;
    background-color: lightgrey;

    border-radius: 10px;
    font-size:smaller;
  margin-right: 10px;
}
.cat2{
    display:flex;
    list-style:none;
    background-color: lightgrey;
    margin-right:10px;
    border-radius: 10px;
    font-size: smaller;
    margin-left:10px
}


.link{
    list-style:none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: -15px;
  
}
#myCarousel{
    border-radius: 10px;
}

 #myCarousel img { height: 300px; width:1200px; border-radius: 10px;} 

 
 li{
     list-style: none;
 }
 #img2{
     margin-top:20px;
     margin-left: 15px;
     margin-bottom:20px
 }
 button{
     border-radius: 5px;
     background-color: red;
     color:white;
    
 }

 button:hover{
    background-color:rgb(231, 63, 63);

 }

 #img3{
     margin-left:-35px;
     margin-top:20px;
 }

 #b3{
   margin-left:-12px
 }